<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hskl.contacts">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".settings_email_category_activity"
            android:parentActivityName=".Settings" />
        <activity
            android:name=".settings_permission_activity"
            android:parentActivityName=".Settings" />
        <activity
            android:name=".settings_category_activity"
            android:parentActivityName=".Settings" />
        <activity
            android:name=".contact_view_activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".numpad_activity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".contact_create_activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Helper.CaptureActivityPortrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>